<!-- <app-login-page (GotoRegistryEvent)="($event)"> </app-login-page> -->
<!-- <app-login-page *ngIf="hasRoute('')" (AddUserToRegistryEvent)="tryAddUser($event)"> </app-login-page> -->


<router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</router-outlet>

<p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<!-- <app-register-page *ngIf="true||hasRoute('register-page')"> </app-register-page> -->
