<div>
  <!-- <strong>{{displayed_first_name}} {{displayed_last_name}} {{displayed_telephone_number}} {{displayed_email}} </strong> -->
  
  <!-- <div style="border: 2px solid gray; text-align:center"> -->
    <table style="margin:auto">
      <tr>
        <td style="border: 2px solid gray">{{displayed_first_name}}</td> 
        <td style="border: 2px solid gray">{{displayed_last_name}}</td> 
        <td style="border: 2px solid gray">{{displayed_telephone_number}}</td> 
        <td style="border: 2px solid gray">{{displayed_email}}</td>
        <i class="pi pi-times" style="position:relative; top:3px; font-size: 1.2rem; color: red;" (click)="onClickDelete()"></i>
        <i class="pi pi-pen-to-square" style="position:relative; top:3px; font-size: 1.2rem; color: black;" (click)="onClickEdit()"></i>
      </tr>
      </table>
  <!-- </div> -->
    <!-- Old was 1.5rem and no position-with-top.-->
  <app-edit-form [orig_user]="user"></app-edit-form>
</div>


